.section {
  padding-top: 0.1rem;
  padding-bottom: 0;
}

.inner {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section {
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
  }

  .inner {
    width: min(100% - 1rem, 92rem);
  }
}

@media (min-width: 1024px) {
  .section {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .inner {
    width: min(100% - 2rem, 92rem);
  }
}
