.section {
  padding: 4.5rem 0;
}

.inner {
  width: min(100% - 2rem, 74rem);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section {
    padding: 6.75rem 0;
  }

  .inner {
    width: min(100% - 3.5rem, 74rem);
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 7.5rem 0;
  }

  .inner {
    width: min(100% - 5rem, 78rem);
  }
}
