.section {
  padding: 3rem 0;
}

.inner {
  width: min(100% - 2rem, 74rem);
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section {
    padding: 3rem 0;
  }

  .inner {
    width: min(100% - 3rem, 74rem);
  }
}

@media (min-width: 1280px) {
  .inner {
    width: min(100% - 5rem, 78rem);
  }
}
